.cerrarSesion{
    height: 1.8rem;
    color: rgb(4, 208, 212);
    background: rgb(8, 8, 167);
    border-radius: 3px;
    padding: 4px 4px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 5;
}