@use "../base/variables";

.carritoDeCompras {
  position: fixed;
  right: 20px;
  top: 130px;
  z-index: 999;
  &.show {
  display: block;
 }

  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
      button {
      background: #ef4444;
      border-radius: 4px;
      padding: 2px 6px;
       
    }  
  }
  #cart-count{
    color: variables.$textoImputs;
  }
}

#cart-toggle {
  border: none;
  cursor: pointer;
  width: 80px;
  height: 80px;
  z-index: 1000;
  align-items: center;
  background: transparent;

  img {
  width: 100%;
  object-fit: contain;
  }
  
}

#cart {
  &.show {
  display: block;
 }
  position: fixed;
  right: 20px;
  top: 200px;
  width: 30vw;
  background: #11161d;
  border: variables.$border-card;
  padding: 15px;
  border-radius: 12px;
  display: none;
  color: #e5e7eb;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
      button {
      background: #be3939;
      border-radius: 4px;
      padding: 2px 6px;
       
    }  
  }

}
