@use "../base/variables";

.futuristic-footer {
  background: #0f0f1a;
  color: #00ffff;
  font-family: variables.$font-orbitron;
  padding: 40px 20px;
  text-align: center;
  border-top: 2px solid #00ffff;

  h2 {
    font-size: 2em;
    text-shadow: 0 0 10px #00ffff;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;

    a {
      color: #00ffff;
      text-decoration: none;
      transition: 0.3s;

      &:hover::after {
        width: 100%;
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        background: #00ffff;
        width: 0%;
        transition: 0.3s;
      }
    }
  }
}