@use "../base/variables";

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  background-image: url(../images/fondo3.jpg), url(../images/fondo3_inverso.jpg);
  background-repeat: no-repeat;
  background-position: left center, right center;
  background-size: 50% 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  nav {
    grid-row: 3 / 3;
    grid-column: 3 / 3;
    justify-self: end;

    a {
      color: aquamarine;
      padding: 0 10px;
      position: relative;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: #00b4d8;

        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #00b4d8;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: 0.3s;
      }
    }
  }

  .logoEncabezado {
    width: 70px;
    border-radius: 20px;
    box-shadow: aquamarine 3px 6px 5px;
    position: sticky;
    left: 20px;
    margin: 30px;
  }

  .slogan {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 1.3rem;
    font-family: variables.$font-iceberg;
    color: aquamarine;
  }

  p{
    color: aqua;
    font-size: 1.2rem;
    position:fixed;
    top:20px;
    right: 150px;
    text-shadow: blue 1px 2px 2px;
  }
}