.nuestrosServicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0px 70px 25px 70px;

    .sector{
        max-height: 500px;
        align-content: center;
        text-align: center;
        color: aqua;
        font-size: 1.8rem;
        img{
            height: 400px;
            border-radius: 8px;
        }
    }   
}

.redesSociales{
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    width: 3.5rem;
    height: auto;
    background-color: var(--transparente);
}
.redesSociales img{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--transparente);
}

#loginForm{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  label {
    margin-bottom: 5px;
    font-size: 2rem;
  }

  input {
    padding: 10px 12px;
    background: #0d1117;
    border: 1px solid #1e293b;
    border-radius: 8px;
    color: #0bc1ea;
    font-size: 0.9rem;
    outline: none;
    transition: all .25s ease;

    &:focus {
      border-color: #1566e8;
      box-shadow: 0 0 10px rgba(59, 130, 246, .35);
    }
  }
  button{
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  margin: 30px 0 0 0;
  cursor: pointer;
  transition: .3s;

    &:hover {
        background: #2563eb;
        box-shadow: 0 0 14px rgba(37, 99, 235, .5);
    }
  }
}

