.nuestrosServicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0px 70px 25px 70px;

    .sector{
        max-height: 500px;
        align-content: center;
        text-align: center;
        color: aqua;
        font-size: 1.8rem;
        img{
            height: 400px;
            border-radius: 8px;
        }
    }   
}

.redesSociales{
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    width: 3.5rem;
    height: auto;
    background-color: var(--transparente);
}
.redesSociales img{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--transparente);
}

#loginForm{
    width: 6rem;
    height: 20rem;
    padding: 70px;
}