.payment-container {
  width: 380px;
  padding: 30px;
  background: rgba(15, 23, 42, 0.9);
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.4);
  position:sticky ;
  left: 37%;
  padding: 15px;

  label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color:rgb(1, 158, 158);
    h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #38bdf8;
    }
  }
  }
  input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #020617;
  color: #e5e7eb;
  }

  #message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;

}

#paymentForm{
  text-align: center;
}

.paymentDiv{
    align-items: center;
}



.resumen-container {
  max-width: 800px;
  margin: 40px auto;
}

.resumen-card {
  background: rgba(15, 23, 42, 0.95);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.35);
}

.resumen-item {
  display: grid;
  grid-template-columns: 100px 1fr 200px 200px;
  gap: 15px;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.resumen-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.resumen-title {
  font-weight: bold;
  color: #e5e7eb;
}

.resumen-price {
  color: #38bdf8;
  font-weight: bold;
}

.resumen-total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4ade80;
  margin-top: 20px;
}

