@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: variables.$fondoAzul;
}

h1{
  color:rgb(3, 189, 189);
}

h2{
  color: variables.$textoImputs;
}

h3{
  color: rgb(8, 175, 197);
}

section{
  text-align: center;
  color: variables.$textoImputs;
}
