// Fuentes
$font-iceberg: "Iceberg", sans-serif;
$font-orbitron: "Orbitron", sans-serif;

// Colores principales
$fondoAzul: rgb(11, 36, 67);
$fondoTarj1: #020a15;
$fondoTarj2: rgb(13, 25, 44);
$neon1: #06eeee;
$textoImputs: #05d3d3;

// Bordes y sombras
$border-card: 1px solid #2a2f36;
$shadow-card: 0 0 18px #00ffff;